<script context="module" lang="ts">
	import { page } from '$app/stores';
</script>

<div class="nav-wrapper">
	<nav class="main-nav" id="main-nav" aria-label="Main Navigation">
		<ul class="main-nav__list">
			{#if $page.url.pathname.startsWith('/en')}
				<li class="main-nav__item">
					<a href="/">Suomeksi</a>
				</li>
			{:else if $page.url.pathname !== '/'}
				<li class="main-nav__item">
					<a href="/">Etusivu</a>
				</li>
			{:else}
				<li class="main-nav__item">
					<a href="/kuntavaaliehdokkaille">Kuntavaaliehdokkaille</a>
				</li>
				<li class="main-nav__item">
					<a href="/en">English</a>
				</li>
			{/if}
		</ul>
	</nav>
</div>

<style>
	.nav-wrapper {
		--column-gap-item: calc(1.1rem + 2vw);
		display: flex;
		align-items: center;
		justify-content: space-between;
		grid-template-columns: repeat(12, 1fr);
		grid-gap: 1.5rem;
		margin: 0 auto;
		width: 80%;
		max-width: 100rem;
	}
	.nav-wrapper a {
		border-bottom: 0;
		color: var(--color-link);
	}
	.nav-wrapper .main-nav__item.active a {
		border-bottom: 2px solid;
	}
	.nav-wrapper .main-nav {
		font-size: calc(0.85rem + 0.4vw);
		line-height: calc(1rem + 0.4vw);
		flex: 1;
	}
	.nav-wrapper .main-nav .main-nav__list {
		display: flex;
		justify-content: flex-end;
		flex-wrap: wrap;
		text-align: right;
	}
	.nav-wrapper .main-nav .main-nav__list .main-nav__item {
		position: relative;
		list-style: none;
	}
	.nav-wrapper .main-nav .main-nav__list .main-nav__item:not(:first-child) {
		margin-left: var(--column-gap-item);
	}
	.nav-wrapper .main-nav .main-nav__list .main-nav__item a {
		display: block;
		text-decoration: none;
	}
</style>
