<script lang="ts">
	import Hero from '$lib/Hero.svelte';
	import LogoFi from '$lib/LogoFi.svelte';
	import Content from '$lib/Content.svelte';
	import ContentBlock from '$lib/ContentBlock.svelte';
	import { browser, dev } from '$app/environment';
	export const hydrate = dev;
	export const router = browser;
</script>

<svelte:head>
	<meta
		name="description"
		content="4.2.2025: Kirjajulkkarit ja keskustelua, Pasi Heikkurinen | Kohtuus"
	/>
	<meta
		name="og:description"
		content="4.2.2025: Kirjajulkkarit ja keskustelua, Degrowth: An Experience of Being Finite – Pasi Heikkurinen"
	/>
	<meta property="og:url" content="https://kohtuus.org/tapahtumat/2025-02-04-heikkurinen" />
	<meta property="og:image" content="https://kohtuus.org/20240204_og.jpg" />
</svelte:head>

<section>
	<Hero>
		<div class="front-content logo-wrapper">
			<h2>Kirja&shy;julkkarit ja keskustelua 4.2.2025</h2>
			<h3>
				<a href="https://mayflybooks.org/degrowth-an-experience-of-being-finite/"
					>Degrowth: An Experience of Being Finite</a
				><br /><br /><i>Pasi Heikkurinen</i><br />
			</h3>
			<h4>MayFly Books, 2024</h4>
		</div>
	</Hero>
	<Content>
		<ContentBlock color="orange">
			<h3>Kirjasta</h3>
			<p>
				Degrowth merkitsee poliittista ja taloudellista uudelleenjärjestelyä, jossa energian ja
				resurssien käyttö mitoitetaan maapallon kantokyvyn rajoihin. Uudessa kirjassaan Pasi
				Heikkurinen nostaa esiin ajatuksen, että rajallisuuden ymmärtäminen yhteisen kokemuksen
				kautta on edellytys sille, että voimme merkittävästi rajoittaa aineen ja energian kasvavaa
				käyttöä. Hän kritisoi talouskasvuun perustuvaa ajattelua teknologiasta, luonnosta ja
				vaadittavasta muutoksesta. Kirjan teemoja ovat mm. kokemuksellinen käsitys vapautumisesta,
				muodonmuutoksesta ja luonnon ytimestä.
			</p>
			<h3>Milloin</h3>
			<p>Tiistaina 4.2.2025 klo 14.00-15.45</p>
			<h3>Missä</h3>
			<p>
				Helsingin yliopiston päärakennus, U3039, 3.krs, käynti Unioninkatu 34 kautta tai
				esteettömästi Fabianinkatu 33
			</p>
			<h3>Muuta</h3>
			<p>
				Tilaisuus on kaikille avoin, maksuton ja suomenkielinen. Tilaisuuteen ei tarvitse erikseen
				ilmoittautua. Tarjolla on kahvia ja teetä.
			</p>
		</ContentBlock>
		<ContentBlock color="plain">
			<h3>Ohjelma 4.2.2025 alkaen klo 14.15</h3>
			<ul>
				<li>Kirjan esittely: Pasi Heikkurinen</li>
				<li>Kustantajan tervehdys</li>
				<li>Kommenttipuheenvuoro: Noora-Helena Korpelainen</li>
				<li>Yhteinen keskustelu</li>
			</ul>
			<h3>Vinkki jatkoksi</h3>
			<p>
				Tilaisuuden jatkoksi suosittelemme Alf Hornborgin vierailua <a
					href="https://www.helsinki.fi/en/projects/von-wright-and-wittgenstein-archives/activities/von-wright-and-wittgenstein-research-seminar"
					>von Wright ja Wittgenstein -seminaarissa</a
				>
				Metsätalolla, klo 16-18. Alf puhuu siellä uudesta kirjastaan
				<a
					href="https://www.routledge.com/Liquidate-How-Money-is-Dissolving-the-World/Hornborg/p/book/9781032679969"
					>Liquidate: How Money is Dissolving the World</a
				> (Routledge, 2024).
			</p>
			<h3>Järjestäjät</h3>
			<p>Tilaisuuden järjestää yhteistyössä Kohtuus ry ja MayFly Books.</p>
			<p class="logo-grid">
				<span class="logo-grid-elem"><LogoFi /> </span>
				<span class="logo-grid-elem">
					<img src="/mayfly_books.jpg" alt="MayFly Books" />
				</span>
			</p>
		</ContentBlock>
		<ContentBlock color="green">
			<div class="front-content">
				<h3>Tervetuloa!</h3>
			</div>
		</ContentBlock>
	</Content>
</section>
