<script lang="ts">
	import Hero from '$lib/Hero.svelte';
	import LogoFi from '$lib/LogoFi.svelte';
	import Content from '$lib/Content.svelte';
	import ContentBlock from '$lib/ContentBlock.svelte';
	import { browser, dev } from '$app/environment';
	export const hydrate = dev;
	export const router = browser;
</script>

<svelte:head>
	<meta name="description" content="Ideoita kuntavaaliehdokkaille 2025 | Kohtuus" />
	<meta
		name="og:description"
		content="Kohtuus kunnan toiminnassa - Ideoita kuntavaaliehdokkaille 2025"
	/>
	<meta property="og:url" content="https://kohtuus.org/kuntavaaliehdokkaille" />
	<meta property="og:image" content="https://kohtuus.org/fi_og.jpg" />
</svelte:head>

<section>
	<Hero>
		<div class="front-content logo-wrapper">
			<h2>Kohtuus kunnan toiminnassa<br /></h2>
			<h3>Ideoita kuntavaali&shy;ehdokkaille 2025</h3>
		</div>
	</Hero>
	<Content>
		<ContentBlock color="orange">
			<h3>Johdanto</h3>
			<p>
				Kohtuusajattelu tarkoittaa poliittista ja taloudellista uudelleenjärjestelyä, jossa energian
				ja resurssien käyttö mitoitetaan maapallon kantokyvyn rajoihin. Ympäristökysymysten lisäksi
				sillä tarkoitetaan myös tasa-arvoisempaa tulonjakoa. Niinpä se liittyy kiinteästi myös
				kuntien toimintaan.
			</p>
			<p>
				Kestämättömällä tasolla olevaa tuotantoa ja kulutusta on vähennettävä. <strong
					>Mitä tämä voisi tarkoittaa kunnan tasolla?</strong
				> Ympäristökysymykset ja sosiaalinen oikeudenmukaisuus liittyvät kaavoitukseen, rakentamiseen,
				energiahuoltoon, liikenteeseen, vesi- ja jätehuoltoon, kiertotalouteen, joukkoruokailuun, sosiaali-
				ja terveydenhuoltoon, investointeihin eri toimialueilla ja kaupunkialueiden kasvuun.
			</p>
			<p>Alla konkreettiset toimenpiteet kuntien ja hyvinvointialueiden päättäjille.</p>
		</ContentBlock>
		<ContentBlock color="plain">
			<h3>Kestävän tuotannon tukeminen</h3>
			<ul>
				<li>
					Huomioidaan kunnan julkisissa hankinnoissa tavaran tai palvelun koko elinkaaren kestävyys
					ja ympäristöhaitat.
				</li>
				<li>
					Tuetaan sellaista paikallista toimintaa, joka edesauttaa tavaroiden korjaamista ja
					kierrätystä.
				</li>
				<li>Mahdollistetaan tavaralainaamoiden ja jakamistalouden toiminta.</li>
				<li>
					Rajoitetaan kunnan tiloissa ja omistamissa paikoissa epäekologisten tuotteiden ja
					palveluiden mainontaa.
				</li>
			</ul>
			<h3>Työnteon ja harrastamisen mielekkyys</h3>
			<ul>
				<li>Edellytetään julkisten palveluiden kilpailutuksissa paikallista palvelutuotantoa.</li>
				<li>
					Tuetaan työntekijäosuuskuntia, itsensä työllistäjiä, kansalaisjärjestöjä ja
					vapaaehtoistyötä.
				</li>
				<li>Tarjotaan mahdollisuutta työajan lyhentämiseen kunnallisissa työpaikoissa.</li>
				<li>
					Tarjotaan vastikkeettomia tai edullisia palveluja mielekkääseen vapaa-aikaan. Tällaisia
					ovat mm. kirjastot, museot, kulttuuritapahtumat, puistot, ryhmätilat ja metsikköpolut.
				</li>
				<li>
					Lisätään kunnallisten kiinteistöjen, kuten koulujen, käyttöastetta tarjoamalla julkisia
					tiloja kansalaisjärjestöjen ja yhteisöjen toimintaan.
				</li>
			</ul>
			<h3>Energia</h3>
			<ul>
				<li>
					Kohtuullistetaan julkisten kiinteistöjen lämmityksen tarvetta laskemalla tilojen
					lämpötilaa.
				</li>
				<li>
					Siirrytään kunnan energiantuotannossa ympäristöystävällisiin lämmitysjärjestelmiin. Tuki
					voi olla rahallista tai liittyä kaavoitukseen ja lupamenettelyyn.
				</li>
			</ul>
			<h3>Liikenne</h3>
			<ul>
				<li>
					Vahvistetaan liikenneympäristöä kävelyä ja pyöräilyä suosivaksi ja autoilua vähentäväksi.
					Keinoja ovat mm. kaavoitus, autokatujen muuttaminen kävely- ja pyöräilykaduiksi, väylien
					kunnossapito, yhteiskäyttöiset pyörät ja pyöräpysäköinnin parantaminen.
				</li>
				<li>
					Kannustetaan irtautumaan henkilöautoilusta esimerkiksi tietulleilla ja
					pysäköintisäädöksillä. Tilalle tarjotaan toimiva, mahdollisimman laaja ja käyttäjälle
					edullinen julkinen liikenneverkko. Edistetään autojen yhteiskäyttöä ja
					kimppakyytipalveluja.
				</li>
				<li>
					Harvaan asutuilla alueilla lisätään kunnallista ja muuta joukkoliikennettä ja tuetaan sitä
					kannattamattomilla reiteillä.
				</li>
			</ul>
			<h3>Kaupunki- ja aluesuunnittelu sekä rakentaminen</h3>
			<ul>
				<li>
					Huolehditaan siitä, että kaikissa kaupunginosissa on mahdollisuus myös kohtuuhintaiseen
					asumiseen.
				</li>
				<li>Tuetaan asunto-osuuskuntia.</li>
				<li>
					Rajoitetaan julkisten palvelujen keskittämistä. Esimerkiksi koulujen ja terveyspalvelujen
					tulee olla lähellä käyttäjiä.
				</li>
				<li>
					Rajoitetaan kaavoituksessa ja lupamenettelyssä ylikansallisten yritysten etulyöntiasemaa
					paikallisiin yrityksiin verrattuna.
				</li>
				<li>
					Rajoitetaan ylikulutusta ruokkivia ja kaupunkikeskustaa näivettäviä palveluja, esimerkiksi
					automarkettikeskittymiä, jotka lisäävät fossiilista kuluttamista.
				</li>
				<li>
					Suositaan korjaamista ja kunnostamista rakennusten purkamisen sijasta. Jos kuitenkin
					puretaan, purkujätteet hyödynnetään.
				</li>
				<li>
					Suositaan uudisrakentamista vain, jos se on välttämätöntä. Huomioidaan tällöin sijainti,
					materiaalit, rakennuksen kesto sekä tulevan energian ja sähkön kulutus.
				</li>
				<li>
					Vähennetään ympäristöhaittoja ja tuetaan paikallista työllisyyttä suosimalla
					puurakentamista.
				</li>
				<li>
					Perustetaan ja vaalitaan viheralueita, kaupunkimetsiä, niittyjä ja luonnonvaraisia alueita
					myös kaupungin keskustassa.
				</li>
				<li>Ostetaan ja suojellaan metsää.</li>
				<li>
					Ei tueta uusia kaivoshankkeita kunnan alueella ja valvotaan jo olemassa olevien
					kaivoshankkeiden ympäristövaikutuksia.
				</li>
			</ul>
			<h3>Ruoka ja maanviljelys</h3>
			<ul>
				<li>
					Lisätään paikallisesti tuotetun ja kasvisruoan määrää joukkoruokailussa, esim. kouluissa,
					päiväkodeissa, sairaaloissa ja vanhainkodeissa.
				</li>
				<li>
					Tuetaan järjestöjä ja muita tahoja, jotka edistävät kestävää ruoantuotantoa ja vähentävät
					ruokahävikkiä.
				</li>
				<li>Edesautetaan kestävää maataloutta. Suositaan paikallista ruokaa ja pientuotantoa.</li>
				<li>Luodaan yhteisöviljelmiä myös kaupunkialueilla.</li>
			</ul>

			<p>
				<small>
					Nämä kohtuusterveiset perustuvat <a href="https://kohtuusliike.fi">Kohtuusliikkeen</a>
					2021 kuntavaaliehdotuksiin, jotka Kohtuus ry on päivittänyt maaliskuussa 2025.</small
				>
			</p>
		</ContentBlock>
		<ContentBlock color="green">
			<div class="front-content">
				<h3>Haluatko tietää lisää?</h3>
				<p>Lähetä sähköpostia osoitteeseen:</p>
				<p>
					<a href="mailto:info@kohtuus.org" style="color: white;">info@kohtuus.org</a>
				</p>
			</div>
		</ContentBlock>
	</Content>
</section>
