:root {
	/* Neo-Grotesque from https://modernfontstacks.com/ */
	--font-base: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
	--color-text: #262626;
	--color-background: #ffffff;
	--color-link: #0600ed;
	--color-link-visited: #551a8b;
}
@media (prefers-color-scheme: dark) {
	:root {
		--color-text: #ffffff;
		--color-background: #282c35;
		--color-link: #58a6ff;
		--color-link-visited: #bb88e9;
	}
}

html {
	overflow-y: overlay;
}

html,
body {
	height: 100%;
	width: 100%;
}

body {
	background: var(--color-background);
	color: var(--color-text);
	font-family: var(--font-base);
	font-size: calc(1.8rem + 0.6vw);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 95%;
}

/* Icrease header sizes across the board, defaults are:
   h1 is 2 em
   h2 is 1.5 em
   h3 is 1.3 em
   h4 is 1 em
   h5 is 0.8 em
   h6 is 0.7 em */
h1 {
	font-size: 2.5em;
	hyphens: auto;
}
h2 {
	padding-top: 1em;
	font-size: 2em;
}
h3 {
	padding-top: 0.5em;
	font-size: 1.5em;
}
h4 {
	font-size: 1.3em;
}
h5 {
	font-size: 1.1em;
}
h6 {
	font-size: 1em;
}
p.subtitle {
	margin-top: 0em;
	padding-top: 0em;
	font-size: 1.5em;
}

.small-body {
	font-size: calc(1.5rem + 0.5vw);
}

small {
	font-size: calc(0.5rem + 0.5vw);
}

blockquote {
	margin-inline-start: 0;
	margin-inline-end: 0;
}

hr {
	display: none;
}

/* Upper limit */
@media (min-width: 120rem) {
	body {
		font-size: 3rem;
	}
	body .small-body {
		font-size: 2rem;
	}
	small {
		font-size: 1rem;
	}
}

/* Lower limit */
@media (max-width: 450px) {
	body {
		font-size: 1.5rem;
	}
	body .small-body {
		font-size: 1.3rem;
	}
	small {
		font-size: 0.8rem;
	}
}

a {
	color: var(--color-link);
	text-decoration: underline;
}

a:visited {
	color: var(--color-link-visited);
}

a:hover {
	text-decoration: none;
}

img,
picture {
	max-width: 100%;
}

#svelte {
	padding: 0 2rem;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	justify-content: space-between;
}

.front-content {
	text-align: center;
}

.logo-wrapper {
	max-width: 100rem;
	margin: auto;
	width: 100%;
}

.logo-wrapper svg {
	width: 80%;
	height: auto;
	padding: 2em 0 2em 0;
}

.logo-grid {
    padding-top: 1em;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

@media (max-width: 1200px) {
    .logo-grid{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column
    }
    .logo-grid-elem {
        max-width: 90%;
        text-align: center;
    }
    .logo-grid-elem svg {
        max-width: 90%;
    }

}
